@import "../../../../vars.module.scss";

.title-div,
.section-title {
  font-weight: 400;
  font-size: 18px;
  color: $heading-color;
  margin-bottom: 1rem;
}

.section-title {
  margin-top: 1rem;
}

.text-field {
  width: 100%;
  .public-icon {
    color: $public-color;
  }
  .facebook-icon {
    color: $facebook-color;
  }
  .twitter-icon {
    color: $twitter-color;
  }
  .linkedin-icon {
    color: $linkedin-color;
  }
}

.text_field_input {
  padding-left: 0;
}

.text_field {
  height: 2.5rem;
}

.input-label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.editor {
  border: 1px solid $primary;
  height: 10rem;
}

.non-mandatory-text {
  font-size: 14px;
  font-weight: 400;
  color: $non-mandatory-color;
}

.veteran-service {
  margin: 0px !important;
  color: $disable-color;
  font-size: $label-font-size;
  margin-bottom: 5px;
  .formGroup {
    margin-left: 7rem;
  }
}

.repeat-item {
  display: flex;
  place-items: start;
  .delete-item {
    margin: 20px 5px;
    color: $primary;
  }
  &:not(:first-child) {
    margin-top: 20px;
    border-top: 2px dashed $primary-dark;
  }
}

.field-row-container {
  .add-more-btn-grid {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    .add-more-btn {
      background-color: $primary;
      border-color: $primary;
      color: $default;
      &:focus {
        outline: none;
        box-shadow: none !important;
      }
      &:hover {
        background-color: $primary;
      }
    }
  }
  &.location {
    border-top: 1px solid $disable-color;
  }
  .field {
    margin-top: 10px;
  }
}

.btns-grid {
  .submit-btn {
    margin-right: 1rem;
    background-color: $additional-info-btns-color;
    color: $default;
    &:hover {
      background-color: $additional-info-btns-color;
    }
  }
  .previous-btn,
  .cancel-btn,
  .next-btn {
    margin-right: 1rem;
    color: $additional-info-btns-color;
    border-color: $additional-info-btns-color;
  }
}

.icon {
  color: $primary;
}

.locations-grid {
  margin: 1rem 0px;
}

.iconImage {
  width: 20px;
  height: 20px;
  color: $disable-color;
}

@media (max-width: 599px) {
  .section-title,
  .title-div {
    margin-left: 1.25rem;
    display: flex;
  }
  .go-back {
    margin-right: 0.5rem;
    cursor: pointer;
  }
  .location-data-grid {
    display: flex;
    .location-fields {
      width: 92.5%;
    }
    .add-location-btn-grid {
      width: 92.5%;
      display: flex;
      align-items: center;
      .add-btn {
        background-color: $primary;
        color: $default;
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .location-data-grid {
    display: flex;
    .location-fields {
      width: 50%;
    }
    .add-location-btn-grid {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 0.9rem;
      .add-btn {
        background-color: $primary;
        color: $default;
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}

@media (min-width: 960px) and (max-width: 1920px) {
  .location-data-grid {
    display: flex;
    .location-fields {
      width: 23%;
    }
    .add-location-btn-grid {
      width: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.6rem;
      .add-btn {
        background-color: $primary;
        color: $default;
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
