:export {
  primaryColor: #3d8a94;
  primaryDarkColor: #1f5776;
  primaryLightColor: #eef9fb;
  defaultColor: #ffffff;
  secondaryColor: #e7873b;
  disableColor: #5b5b5b;
  offWhiteColor: #f9f9f9;
  greyColor: #dcdcdc;
  textLightColor: #8d8d8d;
  primaryColorShade: #367982;
  deleteBtnColor: #ff3138;
  blackColor: #000;
  lightWhiteColor: #ecf9fc;
  whiteColor: #fff;
  headingColor: #567377;
  linkedInColor: #0a66c2;
  twitterColor: #55acee;
  facebookColor: #395185;
  publicColor: #5b5b5b;
  nonMandatoryColor: #646e70;
  paidJobRightIconColor: #9fc1c5;
  paidJobCardColor: #e2f0f0;
  displayJobFirstCardColor: #edefde;
  boldJobTitleCardColor: #fdf7ed;
  freeJobsCardColor: #dee4e9;
  urgentHiringCardColor: #f2e4ed;
  nationWideCardColor: #dbd9e8;
  blackColor: #000;
}

.apply-job-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.apply-job-detail .content {
  width: 60%;
  border: 2px solid #000;
  padding: 5vh;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  max-height: 90vh;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apply-job-detail .content #modal-title {
  color: #1f5776;
}

.apply-job-detail .content .form-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  padding: 3vh;
}

.apply-job-detail .field-row-container {
  margin-top: 10px;
}

.apply-job-detail .field-row-container .field .field-label {
  color: #5b5b5b;
  font-size: 16px;
  margin-bottom: 5px;
}

.apply-job-detail .field-row-container .field .primary-checkbox {
  color: #3d8a94;
}

.apply-job-detail .field-row-container .field.right {
  text-align: right;
}

.apply-job-detail .field-row-container .field .MuiFormControl-root,
.apply-job-detail .field-row-container .field .MuiOutlinedInput-root {
  width: 100%;
}

.apply-job-detail .field-row-container .field .raised-button-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apply-job-detail .field-row-container .field .raised-button-file .browse-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apply-job-detail .field-row-container .field .raised-button-file .attach-file-label {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  border: 1px dashed #1f5776;
  max-height: 30px;
}

.apply-job-detail .field-row-container .field .raised-button-file .attach-file-label > svg {
  width: 40px;
}

.apply-job-detail .field-row-container .field .raised-button-file .attach-file-label .file-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.apply-job-detail .field-row-container .field .login-btn,
.apply-job-detail .field-row-container .field .apply-btn,
.apply-job-detail .field-row-container .field .browse-btn {
  background-color: #3d8a94;
  color: #ffffff;
}

.apply-job-detail .field-row-container .field .cancel-btn {
  background-color: #ffffff;
  color: #3d8a94;
  border: 2px solid #3d8a94;
}

.apply-job-detail .field-row-container .field .link {
  color: #3d8a94;
  text-decoration: none;
}
/*# sourceMappingURL=apply-job-detail.css.map */