@import "../../../vars.module.scss";

.text_field {
  width: 100%;
}

.add_more_btn {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white-color;

  &:hover {
    background-color: $primary !important;
    border-color: $primary !important;
    color: $white-color;
  }
}
.btns-grid {
  .submit-btn {
    margin-right: 1rem;
    background-color: $additional-info-btns-color;
    color: $default;
    &:hover {
      background-color: $additional-info-btns-color;
    }
  }
  .previous-btn,
  .cancel-btn,
  .next-btn {
    margin-right: 1rem;
    color: $additional-info-btns-color;
    border-color: $additional-info-btns-color;
  }
}
.input_label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.profile-visibility-div {
  width: 100%;
  padding: 1rem 0px;
  display: flex;
  font-size: smaller;
  .custom_switch {
    margin-left: 1%;
  }
}

.area_size {
  min-height: 110px;
}
