@import "../../../vars.module.scss";
.btns-grid {
  .submit-btn {
    margin-right: 1rem;
    background-color: $additional-info-btns-color;
    color: $default;
    &:hover {
      background-color: $additional-info-btns-color;
    }
  }
  .previous-btn,
  .cancel-btn,
  .next-btn {
    margin-right: 1rem;
    color: $additional-info-btns-color;
    border-color: $additional-info-btns-color;
  }
}
.iconImage {
  width: 20px;
  height: 20px;
  color: $disable-color;
}
.js-create-profile {
  padding: 1.5rem;
  .MuiInputLabel-asterisk {
    color: red;
  }
  .location-form-control.MuiFormControl-root,
  .location-form-control .MuiOutlinedInput-root {
    width: 100%;
  }
  .top-action-container {
    text-align: right;
    .top-action {
      .submit {
        background-color: $primary;
        border-color: $primary;
        color: $default;
        padding: 4px 10px !important;
        margin: 0px 10px;
        &:focus {
          outline: none;
          box-shadow: none !important;
        }
      }
      .cancel {
        border-color: $primary;
        color: $primary;
        padding: 4px 10px !important;
        margin: 0px 10px;
        &:focus {
          outline: none;
          box-shadow: none !important;
        }
      }
    }
  }
  .MuiStepIcon-root.MuiStepIcon-active {
    color: $secondary;
  }
  .page-header {
    color: $primary-dark;
    font-weight: 700;
  }
  .field-row {
    margin-top: 20px;
    .submit,
    .next {
      background-color: $primary;
      border-color: $primary;
      color: $default;
      padding: 4px 10px !important;
      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }
    .previous {
      border-color: $primary;
      color: $primary;
      padding: 4px 10px !important;
      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }

    .previous,
    .next {
      width: 90%;
      margin: 5%;
    }
    .field-row-header {
      color: #222222;
      font-weight: 500;
    }
    .skill-row-container {
      display: flex;
      .skill-fields {
        flex: 1;
      }
      .skill-remove-action {
        margin-left: 1rem;
      }
    }
    .repeat-item {
      display: flex;
      place-items: start;
      .delete-item {
        margin: 20px 5px;
        color: $primary;
      }
      &:not(:first-child) {
        margin-top: 20px;
        border-top: 2px dashed $primary-dark;
        .field {
          margin-top: 10px;
        }
      }
    }

    .field-row-container {
      .field {
        .text_field {
          height: 2.5rem;
        }
        .outlined_text_field {
          height: 0.1876rem;
          padding-left: 0;
        }
        .field-label {
          color: $disable-color;
          margin-bottom: 5px;
        }
        .primary-checkbox {
          color: $primary-dark;
        }
        &.right {
          text-align: right;
        }
        .add-more {
          margin-top: 10px;
          background-color: $primary;
          border-color: $primary;
          color: $default;
          padding: 4px 10px !important;
          &:focus {
            outline: none;
            box-shadow: none !important;
          }
        }
        .MuiFormControl-root,
        .MuiOutlinedInput-root {
          width: 100%;
        }
      }
    }
  }
  .MuiDropzoneArea-root {
    border-color: $primary;
    min-height: 76px;

    border-width: 1px;
    background-color: $primary-light;
    .MuiDropzoneArea-textContainer {
      text-align: left;
      display: flex;
      padding: 10px;
    }
  }
}

.uploaded {
  border: 1px dashed $primary;
  min-height: 50px;
  background-color: $primary-light;
  padding: 10px;
  .uploaded-file {
    text-decoration: none;
    color: $disable-color;
    font-size: 12px;
    margin-top: 10px;
  }
  .attached-file-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.uploaded,
.MuiDropzoneArea-root .MuiDropzoneArea-textContainer {
  .upload-area-container {
    display: flex;
    flex: 1;
    .upload-btn-wrapper {
      display: flex;
      margin-left: 5px;
      .upload-btn {
        margin: auto;
        padding: 5px !important;
        min-width: auto;
      }
    }
    .upload-btn {
      background-color: $primary;
      border-color: $primary;
      color: $default;
      padding: 4px 10px !important;
      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }
    .upload-text {
      flex: 1;
      .upload-text-header {
        color: $primary-dark;
        font-weight: 700;
      }
      .upload-text-subtitle {
        color: $disable-color;
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
}
