:export {
  primaryColor: #3d8a94;
  primaryDarkColor: #1f5776;
  primaryLightColor: #eef9fb;
  defaultColor: #ffffff;
  secondaryColor: #e7873b;
  disableColor: #5b5b5b;
  offWhiteColor: #f9f9f9;
  greyColor: #dcdcdc;
  textLightColor: #8d8d8d;
  primaryColorShade: #367982;
  deleteBtnColor: #ff3138;
  blackColor: #000;
  lightWhiteColor: #ecf9fc;
  whiteColor: #fff;
  headingColor: #567377;
  linkedInColor: #0a66c2;
  twitterColor: #55acee;
  facebookColor: #395185;
  publicColor: #5b5b5b;
  nonMandatoryColor: #646e70;
  paidJobRightIconColor: #9fc1c5;
  paidJobCardColor: #e2f0f0;
  displayJobFirstCardColor: #edefde;
  boldJobTitleCardColor: #fdf7ed;
  freeJobsCardColor: #dee4e9;
  urgentHiringCardColor: #f2e4ed;
  nationWideCardColor: #dbd9e8;
  blackColor: #000;
}

.title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-div .title {
  color: #1f5776;
  font-size: 22px;
  font-weight: 700;
}

.label {
  color: #5b5b5b;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.label:after {
  content: " *";
  color: red;
}

.cover-letter-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cover-letter-name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.input-form-control {
  width: 55%;
}

.input-form-control .helper-text {
  margin-left: 0;
}

.editorClass {
  border: 1px solid gray;
  height: 10rem;
}

.btns-div {
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btns-div .btn {
  color: #fff;
  background-color: #3d8a94;
}

.btns-div .btn:hover {
  background-color: #3d8a94;
}

.file-edit-icon-div,
.delete-icon-div {
  width: 2rem;
  height: 2rem;
  border: 1px solid #5b5b5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ecf9fc;
}

.file-edit-icon-div:hover,
.delete-icon-div:hover {
  cursor: pointer;
}

.delete-icon,
.file-edit {
  color: #3d8a94;
}
/*# sourceMappingURL=CreateCoverLetter.module.css.map */