:export {
  primaryColor: #3d8a94;
  primaryDarkColor: #1f5776;
  primaryLightColor: #eef9fb;
  defaultColor: #ffffff;
  secondaryColor: #e7873b;
  disableColor: #5b5b5b;
  offWhiteColor: #f9f9f9;
  greyColor: #dcdcdc;
  textLightColor: #8d8d8d;
  primaryColorShade: #367982;
  deleteBtnColor: #ff3138;
  blackColor: #000;
  lightWhiteColor: #ecf9fc;
  whiteColor: #fff;
  headingColor: #567377;
  linkedInColor: #0a66c2;
  twitterColor: #55acee;
  facebookColor: #395185;
  publicColor: #5b5b5b;
  nonMandatoryColor: #646e70;
  paidJobRightIconColor: #9fc1c5;
  paidJobCardColor: #e2f0f0;
  displayJobFirstCardColor: #edefde;
  boldJobTitleCardColor: #fdf7ed;
  freeJobsCardColor: #dee4e9;
  urgentHiringCardColor: #f2e4ed;
  nationWideCardColor: #dbd9e8;
  blackColor: #000;
}

.upload-resume .MuiDropzoneArea-root {
  border-color: #3d8a94;
  min-height: 76px;
  border-width: 1px;
  background-color: #eef9fb;
}

.upload-resume .MuiDropzoneArea-root .MuiDropzoneArea-textContainer {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.upload-resume .uploaded {
  border: 1px dashed #3d8a94;
  min-height: 50px;
  background-color: #eef9fb;
  padding: 10px;
}

.upload-resume .uploaded .uploaded-file {
  text-decoration: none;
  color: #5b5b5b;
  font-size: 12px;
  margin-top: 10px;
}

.upload-resume .uploaded .attached-file-icon svg {
  width: 20px;
  height: 20px;
}

.upload-resume .uploaded .upload-area-container,
.upload-resume .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .upload-area-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.upload-resume .uploaded .upload-area-container .upload-btn-wrapper,
.upload-resume .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .upload-area-container .upload-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

.upload-resume .uploaded .upload-area-container .upload-btn-wrapper .upload-btn,
.upload-resume .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .upload-area-container .upload-btn-wrapper .upload-btn {
  margin: auto;
  padding: 5px !important;
  min-width: auto;
}

.upload-resume .uploaded .upload-area-container .upload-btn,
.upload-resume .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .upload-area-container .upload-btn {
  background-color: #3d8a94;
  border-color: #3d8a94;
  color: #ffffff;
  padding: 4px 10px !important;
}

.upload-resume .uploaded .upload-area-container .upload-btn:focus,
.upload-resume .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .upload-area-container .upload-btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.upload-resume .uploaded .upload-area-container .upload-text,
.upload-resume .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .upload-area-container .upload-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.upload-resume .uploaded .upload-area-container .upload-text .upload-text-header,
.upload-resume .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .upload-area-container .upload-text .upload-text-header {
  color: #1f5776;
  font-weight: 700;
}

.upload-resume .uploaded .upload-area-container .upload-text .upload-text-subtitle,
.upload-resume .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .upload-area-container .upload-text .upload-text-subtitle {
  color: #5b5b5b;
  font-size: 12px;
  margin-top: 10px;
}
/*# sourceMappingURL=UploadResume.css.map */