@import "../../vars.module.scss";

.jsLoginContainer,
.jsRegisterContainer,
.empLoginContainer,
.empRegisterContainer,
.jsAgencyFillingContainer {
  background-image: url("../../../public/assets/images/JsBg.jpg");
  background-size: cover;
  display: flex;
  .loginFormGrid,
  .registerFormGrid,
  .agencyFillingFormGrid {
    justify-content: center;
    margin: auto;
    .title {
      font-weight: 700;
      font-size: 22px;
    }
    .loginFormDiv,
    .registerFormDiv,
    .agencyFillingFormDiv {
      background-color: white;
      .userImageAvatar,
      .employerImageAvatar {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 3.5rem;
        padding-bottom: 0.75rem;
      }
      .loginTitleDiv,
      .registerTitleDiv,
      .agencyFillingTitleDiv {
        display: flex;
        justify-content: center;
        padding-bottom: 1.5rem;
        color: $primary-dark;
        font-weight: bold;
      }
      .subtitleDiv {
        display: flex;
        justify-content: center;
      }
      .passwordSubtitle {
        width: 18rem;
        font-size: smaller;
        margin-top: -0.75rem;
        margin-bottom: 0.75rem;
        text-align: center;
        color: $disable-color;
      }
      .subtitle {
        font-weight: 500;
        font-size: 16px;
      }
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .textFieldDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        .icons {
          color: $disable-color;
        }
        .required {
          margin-bottom: 0.25rem;
          color: $text-light;
          font-size: 15;
        }
        .required:after {
          content: " *";
          color: red;
        }
        .optional {
          margin-bottom: 0.25rem;
          color: $text-light;
          font-size: 15px;
        }
        .helperText {
          margin-left: 0;
          color: red;
          margin-right: 0;
        }
      }
      .formBtnsDiv,
      .continueBtnDiv {
        width: 20.25rem;
        display: flex;
        justify-content: space-between;
        color: $primary;
        padding-bottom: 1.5rem;
        padding-top: 0.5rem;
        padding-left: 0.25rem;
        .btnsDiv {
          width: 150px;
          display: flex;
          justify-content: space-between;
          .containedBtn {
            background-color: $primary;
            color: white;
            &:hover {
              background-color: $primary;
              color: white;
            }
          }
        }
        .forgotPasswordDiv {
          width: 150px;
          margin: auto 0;
          font-weight: 400;
          text-align: right;
          margin-right: 4px;
          font-size: 16px;
        }
      }
      .dontHaveAccountRegisterDiv,
      .dividerDiv,
      .alreadyHaveAnAccountLoginDiv {
        width: 320px;
        .registerLinkText {
          color: $disable-color;
        }
        .divider {
          margin-bottom: 1.5rem;
          margin-top: 1.5rem;
          width: 100%;
        }
      }
      .loginLinkText {
        width: 320px;
        padding-bottom: 3.5rem;
        color: $primary;
        font-weight: 500;
        font-size: 18px;
      }
      .link {
        color: $primary;
        text-decoration: none;
      }
    }
    .registerFormDiv,
    .agencyFillingFormDiv {
      margin: 1.5rem 0;
    }
    .imageTextGrid {
      display: flex;
      margin-top: 1.5rem;
      .loginBgImageTextDiv,
      .registerBgImageTextDiv {
        margin-left: 5rem;
        .imageText {
          color: white;
          font-weight: 700;
        }
      }
    }
  }
}

.jsLoginContainer,
.empLoginContainer {
  min-height: 55rem;
}

.registerSendAlertsYesOrNoText {
  width: 320px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  .alertsText {
    font-size: 13px;
    font-weight: 400;
    color: $text-light;
  }
}

.agencyFillingTitleDiv {
  padding-bottom: 0.5rem;
}

.registerRadioBtnsDiv {
  width: 320px;
  display: flex;
  margin-bottom: 1rem;
}

.radioBtn {
  width: 70px;
  margin-right: 3.5rem;
}

.registerBtnsDiv {
  width: 175px;
  display: flex;
  justify-content: space-between;
  .outlinedRegisterBtn {
    width: 80px;
  }
  .containedRegisterBtn {
    background-color: $primary;
    color: white;
    width: 80px;
    &:hover {
      background-color: $primary;
      color: white;
    }
  }
}

.termsAndConditions {
  width: 320px;
  margin-bottom: 1rem;
  color: $disable-color;
}

.iconImage {
  width: 20px;
  height: 20px;
  color: $disable-color;
}

.continueBtnDiv {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  .outlinedContinueBtn {
    width: 80px;
  }
  .containedContinueBtn {
    background-color: $primary;
    color: white;
    width: 80px;
    &:hover {
      background-color: $primary;
      color: white;
    }
  }
}

.mobileInput {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 3.5rem !important;
  position: relative;
  letter-spacing: 0.01rem;
  width: 100% !important;
  font-size: 0.9rem !important;
}

.mobileInputSmall {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 2.5rem !important;
  position: relative;
  letter-spacing: 0.01rem;
  width: 100% !important;
  font-size: 0.9rem !important;
}

@media (max-width: 599px) {
  .jsLoginContainer,
  .jsRegisterContainer,
  .empRegisterContainer,
  .empLoginContainer,
  .jsAgencyFillingContainer {
    .loginFormGrid,
    .registerFormGrid,
    .agencyFillingFormGrid {
      .formGrid {
        margin-top: 0;
      }
      .title {
        font-size: 17px;
      }
      .loginFormDiv,
      .registerFormDiv,
      .agencyFillingFormDiv {
        .subtitle {
          font-size: 13px;
        }
        .formBtnsDiv {
          width: 85vw;
          .btnsDiv {
            width: 10rem;
          }
        }
        .dontHaveAccountRegisterDiv,
        .dividerDiv,
        .alreadyHaveAnAccountLoginDiv {
          width: 85vw;
          .registerLinkText {
            font-size: 14px;
          }
        }
        .loginLinkText {
          width: 85vw;
        }
        .link {
          font-size: 14px;
        }
        .registerPolicyLink {
          font-size: 11px;
        }
        .continueBtnDiv {
          width: 85vw;
        }
      }
      .imageTextGrid {
        justify-content: center;
        position: absolute;
        top: 6rem;
        .loginBgImageTextDiv,
        .registerBgImageTextDiv {
          margin-left: 0px;
          width: 90vw;
          .imageText {
            font-size: 16px;
          }
        }
      }
    }
  }
  .jsRegisterContainer {
    .registerFormGrid {
      margin: 5vh 0;
      .formGrid {
        margin-top: 15%;
      }
    }
  }
  .registerSendAlertsYesOrNoText,
  .registerRadioBtnsDiv,
  .termsAndConditions {
    width: 85vw;
  }
  .jsLoginContainer {
    min-height: 50rem;
  }
  .empLoginContainer {
    min-height: 40rem;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .jsLoginContainer,
  .jsRegisterContainer,
  .empLoginContainer,
  .jsAgencyFillingContainer {
    .loginFormGrid,
    .registerFormGrid,
    .agencyFillingFormGrid {
      .imageTextGrid {
        .loginBgImageTextDiv,
        .registerBgImageTextDiv {
          margin-left: 0px;
          margin-top: 1rem;
        }
      }
    }
  }
}
